<div class="main-div">
  <div class="login-form">
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
      <h2>Login</h2>
      <div class="content">
        <div class="input-field">
          <input name="email" type="email" placeholder="Email" autocomplete="nope" formControlName="email"
            [ngClass]="{ error: getControl('email')?.errors && getControl('email')?.touched }">
          <div class="errorContainer">
            <span *ngIf="getControl('email')?.errors && getControl('email')?.touched" class="error">Email is
              required.</span>
          </div>
        </div>
        <div class="input-field">
          <input type="password" name="password" placeholder="Password" autocomplete="new-password"
            formControlName="password"
            [ngClass]="{ error: getControl('password')?.errors && getControl('password')?.touched }">
          <div class="errorContainer">
            <span *ngIf="getControl('password')?.errors && getControl('password')?.touched" class="error">Password
              is
              required.</span>
          </div>
        </div>
        <div style="display: flex; justify-content: center; margin: 10px 0;">
          <asl-google-signin-button theme="filled_blue" text="signup_with" type="standard" shape='pill'
            size='medium'></asl-google-signin-button>
        </div>
        <a href="#" class="link">Forgot Your Password</a>
      </div>
      <div class="action">
        <button (click)="navigatePage()">Register</button>
        <button [disabled]="loginForm.invalid">Sign in</button>
      </div>
    </form>
  </div>
</div>