* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.registration-form {
    background: #fff;
    width: 300px;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

.registration-form h2 {
    padding-top: 20px;
    text-align: center;
    font-weight: 300;
}

.registration-form .content {
    padding: 20px;
    text-align: center;
}

.registration-form .input-field {
    padding: 12px 5px;
}

.registration-form .input-field input {
    font-size: 12px;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
}

.registration-form a.link {
    text-decoration: none;
    color: #747474;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 10px;
}

.registration-form .action {
    display: flex;
    flex-direction: row;
}

.registration-form .action button {
    width: 100%;
    border: none;
    padding: 14px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #008CBA;
    color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    transition: all .3s;
}

.errorContainer {
    text-align: left;
}

.temp-div {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.error{
    color: red;
    font-size: 12px;
}
.login-link{
    text-align: center;
    font-size: 15px;
}